.main-container {
  display: flex;
  align-content: center;
  margin-top: 1%;
}
.grid-container {
  margin: 1% auto;
}
.info-box{
  left: auto;
}
.left-side {
  margin-left: 3%;
  margin-right: 5%;
  width: 40%;
}
.instructions-list {
  list-style-type: disc;
}
li{
  margin-top: 2%;
}

button {
  margin: 5px;
}