.display-container {
  display: flex;
  flex-direction: column;
  min-height: 105vh;
}

.array-bar-container {
  display: flex;
  align-items: flex-end;
  margin: 5%;
}

.array-bar {
 background-color: rgb(30, 110, 156);
 border-radius: 0.3em;
 margin: 0.15%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px;

}
.info{
  margin-left: 5%;
  margin-right: 5%;
}