.array-container {
  position: absolute;
  left: 5%;
  right: 5%;
  margin-top: 5%;
  flex-wrap: nowrap;
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
}
.buttons {
  margin: 20px;
}