.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
/* .algo-pic {
  height: auto;
  width: 100%;
} */
.merge-sort-img {
 width: 90vw;
 resize: both;
}
ul {
  text-align: left;
  list-style-type: none;
}
ol {
  text-align: left;
  margin-left: 20px;
}