.container {
  display: flex;
  justify-content: space-around;
}
.algo-pic {
  width: 45%;
  height: 250px;
}
.algo-info {
  width: 55%;

}
.merge-sort-img {
  max-width: 100%;
  height: 100%;
}
ul {
  text-align: left;
  list-style-type: none;
}
ol {
  text-align: left;
  margin-left: 20px;
}