@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.App {
  text-align: center;
  font-family: 'Fredoka One';
}
button {
  border-radius: 20%;
  box-shadow: 0 9px #999;
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  background-color: rgb(79, 169, 221)
}
button:active {
  background-color: rgb(35, 96, 175);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}